/* Страница "Портфолио" */

/* Задаём верхнюю границу и верхний паддинг для секции "Портфолио" */
.portfolio {
  border-top: 1px solid #ececec;
  padding-top: 94px;
}

/* Задаём flex и паддинги секции nav-buttons */
.nav-buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  padding-left: 0px;
}

.nav-buttons :not(:first-child) {
  margin-left: 8px;
}

.button {
  background-color: var(--ghost-white);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black-text);

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Псевдоклассы hover, focus, active для кнопок секции "Портфолио" */
.button:hover,
.button:focus,
.button:active {
  background-color: var(--blue);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

/* Перечень проектов */
.project-list {
  background-color: var(--white);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--black-text);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--grey-text);
}

/* Задаём паддинги секции со списком проектов  */

.container .project-list {
  padding-bottom: 94px;
}
/* Сетка проектов на flex */

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 0px;
}

.project-list .project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-content {
  padding: 20px 24px;
}

.project-title,
.project-type {
  margin: auto;
}
.project-type {
  margin-top: 4px;
}

.project-list .card {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Делаем оверлей на карточки портфолио */

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px 63px 24px;
  margin: 0;
  color: var(--white-text);
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .thumb-overlay {
  transform: translateY(0);
  opacity: 1;
}
